* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
}
body {
  background-color: #242423;
  font-family: "Source Sans Pro", sans-serif;
}
ul,
li {
  list-style: none;
}
.js-scroll {
  opacity: 0;
}
.js-scroll.ativo {
  transition: 0.2s;
  opacity: 1;
}
.back-to-top {
  width: 30px;
  height: 30px;
  opacity: 0.8;
  border-radius: 50px;
  background-color: #00a6fb;
  right: 10px;
  bottom: 10px;
  z-index: 10000;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
