.projects {
  max-width: 1450px;
  height: 100%;
  margin: 50px auto;
  padding: 20px;
}
.projects h1 {
  text-align: center;
  font-size: 3rem;
  color: #cfdbd5;
}

.gallery-wrapper {
  margin: 30px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 20px;
}
.project-card {
  background-color: #333533;
  text-align: center;
  font-size: 1.2rem;
  color: #e8eddf;
  padding-bottom: 10px;
  border-radius: 4px;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.project-card img {
  border-radius: 4px 4px 0 0;
}
.card-button {
  margin-top: 5px;
  width: 100px;
  height: 30px;
  background-color: #00a6fb;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
.card-button:hover {
  background-color: #aec3b0;
}
.card-button:hover a {
  color: #242423;
}
.card-button a {
  color: #e8eddf;
  font-weight: 700;
  font-size: 1rem;
}

@media (max-width: 750px) {
  .gallery-wrapper {
    grid-template-columns: 1fr;
  }
}
